<div class="body">
    <form [formGroup]="form" (ngSubmit)="register()">
        <div class="signup">
            <h1>Registro</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="email">
            </mat-form-field>

            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contrasena</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>

            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Confirmar Contrasena</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="confirmPassword">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho boton" mat-raised-button color="primary" [disabled]="form.invalid">Registrarse</button>
        </div>
    </form>
</div>